@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
body{
   margin: 0;
   padding: 0;
}
h1{
   font-size: 70px;
}
p{
   font-size: 18px;
   color: rgb(82, 82, 82);
}
.all-section{
   width: 80%;
   margin: 0 auto;
}
.banner-contact{
   display: flex;
   padding-bottom: 80px;
}
.all-image{
   width: 50%;
}
.inner-image{
   width: 80%;
   height: 550px;
}
.top-header{
   width: 80%;
   margin: 0 auto;
   border-bottom: 2px solid orange;
   display: flex;
   justify-content: space-between;
}
.main-logo a{
   font-family: 'Festive', cursive;
   font-size: 60px;
   padding-left: 10px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}
.main-menu{
   padding-right: 20px;
}
.menu{
   margin-top: 25px;
}
.menu li{
   list-style: none;
   display: inline-block;
   padding: 20px 10px;
}
.menu li a{
   text-decoration: none;
   padding: 10px 10px;
   font-size: 22px;
   color: rgb(255, 33, 4);
   font-weight: bold;
}
#banner{
   padding-top: 40px;
}
.banner-description{
   width: 50%;
   padding-top: 20px;
}
.banner-heading{
   margin-bottom: 40px;
}
.change-heading{
   color: orange
}
.description{
   width: 80%;
   margin-bottom: 45px;
}
.order{
   padding: 18px 35px;
   background-image: linear-gradient(to right, rgb(2, 160, 2), rgb(154, 233, 8));
   text-decoration: none;
   color: #000;
   font-size: 18px;
   font-weight: bold;
   border-radius: 5px;
}
#eating-image{
   float: right;
}
.about{
   background-image: url(images/7.png);
   height: 600px;
   overflow: hidden;
}
.about-position{
   width: 88%;
   margin: 0 auto;
   display: flex;
}
#about-photo{
   padding: 60px 40px;
}
#photo-about{
   margin-left: 60px;
}
.about-description{
   width: 50%;
   padding: 80px 5px;
}
.about-heading{
   padding-top: 20px;
   margin-bottom: 20px;
}
.about-discribe{
   margin-bottom: 40px;
}
#menu-recipe{
   padding: 60px 0px;
   text-align: center;
}
.recipe-heading{
   font-size: 60px;
   margin-bottom: 20px;
}
.recipe-paragph{
   width: 80%;
   margin: 0 auto;
}
.food-container{
   display: flex;
   padding: 50px 0px;
}
.food-recipe{
   width: 30%;
   margin-left: 22px;
   box-shadow: 0px 5px 10px 5px rgb(190, 190, 190);
   padding: 10px 0px;
   border-radius: 10px;
}
.food-image{
   width: 90%;
   margin: 0 auto;
}
.image-food{
   width: 100%;
   height: 200px;
}
.describe-food{
   width: 80%;
   margin: 0 auto;
}
.food-headinng{
   margin: 5px 0px;
   font-size: 30px;
   color: rgb(241, 177, 0);
}
.food-paragph{
   font-size: 16px;
}
.contact-info{
   width: 50%;
}
.contact-heading{
   text-align: center;
   margin-bottom: 20px;
}
.main-info{
   width: 90%;
   padding-top: 25px;
   padding-bottom: 10px;
   padding-left: 5px;
   border: none;
   font-size: 18px;
   color: black;
   border-bottom: 2px solid orange;
   border-radius: 5px;
   outline: none;
   margin-bottom: 20px;
}
#subject{
   width: 90%;
   padding-top: 80px;
   border: none;
   font-size: 18px;
   font-weight: bold;
   color: black;
   border-bottom: 2px solid orange;
   border-radius: 5px;
   outline: none;
}
.contact-submit{
   padding: 14px 34px;
   margin-top: 18px;
   background-image: linear-gradient(to right, rgb(2, 160, 2), rgb(154, 233, 8));
   outline: none;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bold;
}
#contact-image{
   padding-top: 50px;
   text-align: right;
}
footer{
   background: #000;
   height: 100px;
   color: white;
   text-align: center;
   padding: 20px 0px;
}