@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
body{
   margin: 0;
   padding: 0;
}
ul{
   text-decoration: none;
}
.top-header{
   width: 85%;
   margin: 0 auto;
   border-bottom: 2px solid orange;
   display: flex;
   justify-content: space-between;
}
.main-logo a{
   font-family: 'Festive', cursive;
   font-size: 60px;
   padding-left: 10px;
   text-decoration: none;
   font-weight: bold;
   color: black;
}
.main-menu{
   padding-right: 20px;
}
.menu{
   margin-top: 25px;
}
.menu li{
   list-style: none;
   display: inline-block;
   padding: 20px 10px;
}
.menu li a{
   text-decoration: none;
   padding: 10px 10px;
   font-size: 22px;
   color: rgb(255, 33, 4);
   font-weight: bold;
}
.banner{
   width: 85%;
   padding-top: 40px;
   margin: 0 auto;
   display: flex;
   padding-bottom: 80px;
}
.banner-description{
   width: 50%;
}
.banner-heading{
   font-size: 70px;
   margin-bottom: 40px;
}
.change-heading{
   color: orange
}
.description{
   font-size: 18px;
   width: 80%;
   margin-bottom: 45px;
   color: rgb(94, 93, 93);
}
.order{
   padding: 18px 35px;
   background-image: linear-gradient(to right, rgb(2, 160, 2), rgb(154, 233, 8));
   text-decoration: none;
   color: #000;
   font-size: 18px;
   font-weight: bold;
   border-radius: 5px;
}
.banner-image{
   width: 50%;
}
.eating-image{
   width: 80%;
   height: 500px;
   float: right;
}
.about{
   background-image: url(images/7.png);
   height: 600px;
   overflow: hidden;
}
.about-position{
   width: 88%;
   margin: 0 auto;
   display: flex;
}
.about-photo{
   width: 50%;
   padding: 70px 40px;
}
.hi-image{
   width: 70%;
   height: 600px;
   margin-left: 60px;
}
.about-description{
   width: 50%;
   padding: 80px 5px;
}
.about-heading{
   padding-top: 20px;
   font-size: 70px;
   margin-bottom: 20px;
}
.about-discribe{
   font-size: 18px;
   color: rgb(80, 80, 80);
   margin-bottom: 40px;
}
.menu-recipe{
   padding: 60px 0px;
   width: 80%;
   margin: 0 auto;
   text-align: center;
}
.recipe-heading{
   font-size: 60px;
   margin-bottom: 20px;
}
.recipe-paragph{
   width: 80%;
   margin: 0 auto;
   font-size: 18px;
   color: rgb(94, 94, 94);
}
.food-container{
   display: flex;
   padding: 50px 0px;
}
.food-recipe{
   width: 30%;
   margin-left: 22px;
   box-shadow: 0px 5px 10px 5px rgb(190, 190, 190);
   padding: 10px 0px;
   border-radius: 10px;
}
.food-image{
   width: 90%;
   margin: 0 auto;
}
.image-food{
   width: 100%;
   height: 200px;
}
.describe-food{
   width: 80%;
   margin: 0 auto;
}
.food-headinng{
   margin: 5px 0px;
   font-size: 30px;
   color: rgb(241, 177, 0);
}
.food-paragph{
   color: rgb(95, 95, 95);
}
footer{
   background: #000;
   height: 100px;
   color: white;
   text-align: center;
   padding: 20px 0px;
}